.breadcrumbs-section
    height: 64px
    background-color: #ffffff
    padding-left: 85px
    margin-top: 64px

    .breadcrumb-custom
        font-family: Source Sans Pro
        font-size: 15px
        font-weight: 600
        line-height: 1.71
        color: #2c2f3c

        .clickable
            cursor: pointer