<div class="breadcrumbs-section d-flex align-items-center">
    <a class="breadcrumb-custom clickable"
       [routerLink]="['/courses']">
        Courses
    </a>
    <span class="breadcrumb-custom ml-1">
        {{getCoursesTitle()}}
    </span>
</div>