$user-actions-font: 'Source Sans Pro', sans-serif

.bg
    height: 64px
    width: 100%
    background-color: #414452
    padding: 0 39px 0 85px
    position: fixed
    top: 0
    z-index: 800

    .brand-section
        .logo
            width: 140px
            height: 64px
            object-fit: contain
            cursor: pointer

    .user-actions-section
        width: 300px

        button
            text-decoration: none
            padding: 0

        .ic_user
            width: 10px
            height: 12px
            object-fit: contain
            display: inline-block

        .user-login
            height: 18px
            font-family: $user-actions-font
            font-size: 14px
            font-weight: 200
            text-align: right
            color: #ffffff
            display: inline-block

        .ic_exit
            width: 16px
            height: 12px
            object-fit: contain
            display: inline-block

        .log-off
            height: 18px
            font-family: $user-actions-font
            font-size: 14px
            font-weight: 200
            text-align: right
            color: #ffffff
            display: inline-block