<div class="bg d-flex justify-content-between align-items-center">
    <div class="brand-section d-flex justify-content-between align-items-center">
        <img src="././assets/logo.svg" class="logo"
           (click)="handleLogoClick()">
    </div>
    <div class="user-actions-section d-flex justify-content-between align-items-center"
       *ngIf="isAuthorized()">
        <img src="././assets/ic-user.svg" class="ic_user">
        <span class="user-login">User: {{ userInfo }}</span>
        <img src="././assets/ic-exit.svg" class="ic_exit">
        <button class="btn btn-link log-off"
           (click)="handleUserLogOff()">Log off</button>
    </div>
</div>