<div class="authors-input-section">
    <div class="col-6 p-0"
       [formGroup]="authorsForm">
        <div class="form-group">
            <div class="d-flex justify-content-between">
                <label class="label-custom" for="authors"
                   [class.text-danger]="hasError(authors)">Authors</label>
                <div *ngIf="hasError(authors)">
                    <div *ngIf="authors.errors.required">
                        <p class="validation-text text-danger">* required</p>
                    </div>
                </div>
            </div>
            <tag-input class="custom-cloud-tags" id="authors" placeholder="Start typing"
               [onlyFromAutocomplete]="true"
               formControlName="authors"
               (onBlur)="onInputBlurred()"
               (onAdd)="onAdding()"
               (onRemove)="onRemoving($event)">
                   <tag-input-dropdown [showDropdownIfEmpty]="true"
                      [displayBy]="'name'"
                      [identifyBy]="'id'"
                      [autocompleteItems]="authorsList">
                   </tag-input-dropdown>
            </tag-input>
        </div>
    </div>
</div>