.authors-input-section
    .label-custom
        font-weight: 500

    .validation-text
        font-size: 12px
        margin-bottom: 0
        margin-top: 4px

    .custom-cloud-tags
        border: 1px solid transparent
        border-radius: .25rem