<app-breadcrumbs></app-breadcrumbs>

<div class="course-list-layout">
    <div class="search-section d-flex justify-content-start align-items-center"
       [formGroup]="searchForm"
       autocomplete="off">
        <div class="input-group">
            <img src="././assets/ic-search.svg" class="ic_search">
            <input type="search" placeholder="Text to search"
               (ngModelChange)="searchKeyUp.next($event)"
               formControlName="searchQuery">
        </div>
    </div>
    <div class="add-course-button-section d-flex justify-content-end">
        <button class="btn btn-primary add-course-button-button d-flex justify-content-around align-items-center"
           [routerLink]="['/courses/new']">
            <div>
                <div class="line-one"></div>
                <div class="line-two"></div>
            </div>
            <span class="add-course-button-text">Add course</span>
        </button>
    </div>
    <div class="no-data-section d-flex justify-content-center align-items-center"
       *ngIf="!filteredCoursesList.length">
        No data. Feel free to add new course
    </div>
    <app-course-item *ngFor="let course of filteredCoursesList | orderBy:'creationDate':'asc'"
       [courseItem]="course"
       (editItem)="handleEditItem(course)"
       (deleteItem)="handleDeleteItem(course)"></app-course-item>
    <div class="load-more-section d-flex justify-content-center align-items-center">
        <button class="btn btn-link"
           (click)="handleLoadMore()">
            Load more
        </button>
    </div>
</div>