@mixin plusLine($deg)
    transform: rotate($deg)
    width: 2px
    height: 16px
    border-radius: 1px
    background-color: #ffffff

.course-list-layout
    padding: 0 85px

.add-course-button-section
    margin-bottom: 10px

    .add-course-button-button
        width: 138px
        height: 36px
        border-radius: 3px
        background-color: #30b6dd

        .line-one
            @include plusLine(0deg)
            margin-top: 0px

        .line-two
            @include plusLine(90deg)
            margin-top: -16px

        .add-course-button-text
            font-family: Source Sans Pro
            font-size: 14px
            font-weight: 600
            letter-spacing: -0.1px
            color: #ffffff

.load-more-section, .no-data-section
    height: 48px
    border-radius: 6px
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08)
    background-color: #ffffff
    margin-bottom: 10px
    text-transform: uppercase

    button
        font-family: Source Sans Pro
        font-size: 12px
        line-height: 1.5
        letter-spacing: 0.19px
        color: #577ce6
        text-transform: uppercase
        text-decoration: none

.search-section
    margin-top: 20px
    position: relative

    input
        width: 360px
        height: 48px
        border-radius: 3px
        border: solid 1px #d9dbe3
        padding-left: 40px
        margin-right: 5px

    .ic_search
        width: 24px
        height: 24px
        object-fit: contain
        position: absolute
        left: 10px
        top: 12px

    button
        width: 100px
        height: 48px
        background-color: #9bc837