<div class="app-container d-flex flex-column">
    <app-loading-spinner></app-loading-spinner>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer class="mt-auto"></app-footer>
</div>