.footer-section
    height: 64px
    background-color: #414452
    padding: 0 85px
    margin-top: 15px

    span
        font-family: Source Sans Pro
        font-size: 14px
        line-height: 1.71
        text-align: right
        color: #c0c3ce