<div class="date-input-section d-flex">
    <div class="form-group col-4 p-0 mr-2"
       [formGroup]="creationDateForm">
        <div class="d-flex justify-content-between">
            <label class="label-custom" for="creationDate"
               [class.text-danger]="hasError(creationDate)">Date</label>
            <div *ngIf="hasError(creationDate)">
                <div *ngIf="creationDate.errors.required">
                    <p class="validation-text text-danger">* required</p>
                </div>
                <div *ngIf="creationDate.errors.pattern">
                    <p class="validation-text text-danger">* date must be in format dd/MM/yyyy</p>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" id="creationDate" placeholder="dd/MM/yyyy"
           [class.border-danger]="hasError(creationDate)"
           formControlName="creationDate">
    </div>
</div>