.course-details-section-layout
    min-height: 80vh
    display: flex
    justify-content: center
    align-items: center

    .course-details-section
        width: 731px
        border-radius: 6px
        box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08)
        background-color: #ffffff
        padding: 24px
        font-family: Source Sans Pro

        .title
            height: 30px
            font-weight: 600

        .label-custom
            font-weight: 500

        .validation-text
            font-size: 12px
            margin-bottom: 0
            margin-top: 4px

        .forgot-password-link
            font-size: 12px
            margin-left: 12px

        .cancel-button
            width: 76px
            height: 36px
            background-color: #d3d3d3
            border: 0
            border-radius: 3px
            color: black

        .save-button
            width: 64px
            height: 36px
            background-color: #9bc837
            border: 0
            border-radius: 3px
            color: white
            margin-left: 10px
