<app-breadcrumbs [courseTitle]="item.title || 'New course'">
</app-breadcrumbs>

<div class="course-details-section-layout">
    <div class="course-details-section">
        <h4 class="title">{{getPageTitle()}}</h4>
        <form [formGroup]="courseDetailsForm"
           (ngSubmit)="onSubmit()"
           autocomplete="off">
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label class="label-custom" for="title"
                       [class.text-danger]="hasError(title)">Title</label>
                    <div *ngIf="hasError(title)">
                        <div *ngIf="title.errors.required">
                            <p class="validation-text text-danger">* required</p>
                        </div>
                        <div *ngIf="title.errors.maxlength">
                            <p class="validation-text text-danger">* title must be {{validationConfig.titleMaxLength}} characters maximum long</p>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="title" placeholder="Text input"
                   [class.border-danger]="hasError(title)"
                   [(ngModel)]="item.title"
                   formControlName="title">
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label class="label-custom" for="description"
                       [class.text-danger]="hasError(description)">Description</label>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)">
                        <div *ngIf="description.errors.required">
                            <p class="validation-text text-danger">* required</p>
                        </div>
                        <div *ngIf="description.errors.maxlength">
                            <p class="validation-text text-danger">* description must be {{validationConfig.descriptionMaxLength}} characters maximum long</p>
                        </div>
                    </div>
                </div>
                <textarea class="form-control" id="description" placeholder="Add description" rows="4"
                   [class.border-danger]="hasError(description)"
                   [(ngModel)]="item.description"
                   formControlName="description"></textarea>
            </div>
            <app-date-input [(ngModel)]="item.creationDate"
               formControlName="creationDate"
               [hasError]="hasError"
               [validationConfig]="validationConfig"></app-date-input>
            <app-duration-input [(ngModel)]="item.durationMinutes"
               formControlName="durationMinutes"
               [hasError]="hasError"
               [validationConfig]="validationConfig"></app-duration-input>
            <app-authors-input [(ngModel)]="item.authors"
               formControlName="authors"
               [hasError]="hasError"
               [validationConfig]="validationConfig"
               [authorsList]="authorsList"></app-authors-input>
            <div class="d-flex justify-content-end">
                <button class="btn btn-secondary cancel-button" type="button"
                   (click)="handleCancel()">Cancel</button>
                <button class="btn btn-success save-button" type="submit"
                   [disabled]="courseDetailsForm.invalid">Save</button>
            </div>
        </form>
    </div>
</div>