.duration-input-section
    .duration-text
        margin-top: 40px

    .label-custom
        font-weight: 500

    .validation-text
        font-size: 12px
        margin-bottom: 0
        margin-top: 4px
