<div class="duration-input-section d-flex">
    <div class="form-group col-3 p-0 mr-2"
       [formGroup]="durationMinutesForm">
        <div class="d-flex justify-content-between">
            <label class="label-custom" for="durationMinutes"
               [class.text-danger]="hasError(durationMinutes)">Duration</label>
            <div *ngIf="hasError(durationMinutes)">
                <div *ngIf="durationMinutes.errors.required">
                    <p class="validation-text text-danger">* required</p>
                </div>
                <div *ngIf="durationMinutes.errors.pattern">
                    <p class="validation-text text-danger">* only numbers are allowed</p>
                </div>
            </div>
        </div>
        <input type="text" class="form-control" id="durationMinutes" placeholder="Enter duration"
           [class.border-danger]="hasError(durationMinutes)"
           formControlName="durationMinutes">
    </div>
    <div class="duration-text">{{ durationMinutes.value | duration}}</div>
</div>