$user-actions-font: 'Source Sans Pro', sans-serif

.course-item
    border: 2px solid
    border-radius: 8px
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08)
    background-color: #ffffff
    margin-bottom: 20px
    padding: 24px
    font-family: 'Source Sans Pro', sans-serif

    .video-course-information
        margin-bottom: 10px

        .course-info
            font-family: Source Sans Pro
            font-size: 12px
            color: #b9bdce

            i
                margin: 2px 0 0 16px
            
            span
                margin-left: 8px

        .video-course-name
            height: 30px
            font-size: 24px
            font-weight: 600
            line-height: 1.25
            color: #2c2f3c
            margin-bottom: 8px

        .top-rated-star
            font-size: 20px
            color: #fda50f
            margin-left: 5px
            position: relative
            top: -2px

    .video-course-description
        font-size: 14px
        line-height: 1.71
        color: #525462

    .course-actions-section
        margin-bottom: 10px

        button
            margin-left: 10px
            height: 24px
            border-radius: 3px
            background-color: #30b6dd

            i
                margin-top: -3px

            span
                font-family: Source Sans Pro
                font-size: 12px
                font-weight: 600
                letter-spacing: -0.09px
                color: #ffffff
                margin-top: -3px

        .edit-button
            width: 75px

        .delete-button
            width: 86px

.top-rated-course
    background-color: #f5f5dc