<div class="course-item"
   [appStatusBorder]="courseItem.creationDate"
   [ngClass]="{'top-rated-course': courseItem.topRated}">
    <div class="row d-flex align-items-center">
        <div class="col-9">
            <div class="row d-flex align-items-center justify-content-between video-course-information">
                <div class="col-8">
                    <span class="video-course-name">Video Course {{ courseItem.id }}. {{ courseItem.title | uppercase }}</span> <!-- UppercasePipe here is a part of a mentoring programm task. Will remove this comment in further commits. -->
                    <i class="fa fa-star top-rated-star" aria-hidden="true"
                       *ngIf="courseItem.topRated"></i>
                </div>
                <div class="col-4 d-flex justify-content-end course-info">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                    <span>{{ courseItem.durationMinutes | duration }}</span>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <span>{{ courseItem.creationDate | date: 'd MMM, y'}}</span>
                </div>
            </div>
            <span class="video-course-description text-justify">{{ courseItem.description }}</span>
        </div>
        <div class="col-3 course-actions-section d-flex justify-content-end">
            <button class="btn btn-primary d-flex flex-row justify-content-around edit-button"
               (click)="handleEditCourse()">
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Edit</span>
            </button>
            <button class="btn btn-primary d-flex flex-row justify-content-around delete-button"
               (click)="handleDeleteCourse()">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span>Delete</span>
            </button>
        </div>
    </div>
</div>