.box
    z-index: 900
    position: fixed
    height: 100%
    width: 100%
    background: rgba(0, 0, 0, .2)

.spinner
    z-index: 901
    height: 100px
    width: 100px
    background: rgba(0, 0, 0, .3)
    border-radius: 50%
    transform: scale(0)
    opacity: 1
    animation: spinner 800ms linear infinite

    @keyframes spinner
        to
            transform: scale(1.5)
            opacity: 0