<div class="login-section-layout">
    <div class="login-section">
        <h4 class="title">Login</h4>
        <form (ngSubmit)="onSubmit()"
           [formGroup]="loginForm"
           autocomplete="off">
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label class="label-custom" for="login"
                       [class.text-danger]="hasError(login)">Login</label>
                    <div *ngIf="hasError(login)">
                        <div *ngIf="login.errors.required">
                            <p class="validation-text text-danger">* required</p>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="login" placeholder="Enter login"
                   formControlName="login"
                   [class.border-danger]="hasError(login)">
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label class="label-custom" for="password"
                       [class.text-danger]="hasError(password)">Password</label>
                    <div *ngIf="hasError(password)">
                        <div *ngIf="password.errors.required">
                            <p class="validation-text text-danger">* required</p>
                        </div>
                    </div>
                </div>
                <input type="text" class="form-control" id="password" placeholder="Enter password"
                   formControlName="password"
                   [class.border-danger]="hasError(password)">
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <a href="" class="forgot-password-link">Forgot password?</a>
                <button type="submit" class="btn btn-secondary login-button"
                   [disabled]="loginForm.invalid">Login</button>
            </div>
        </form>
    </div>
</div>