.login-section-layout
    min-height: 70vh
    display: flex
    justify-content: center
    align-items: center
    margin-top: 64px

    .login-section
        width: 368px
        height: 298px
        border-radius: 6px
        box-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08)
        background-color: #ffffff
        padding: 24px

        .title
            width: 58px
            height: 30px
            font-family: Source Sans Pro
            font-weight: 600

        .label-custom
            font-weight: 500

        .validation-text
            font-size: 12px
            margin-bottom: 0
            margin-top: 4px

        .forgot-password-link
            font-size: 12px
            margin-left: 12px

        .login-button
            width: 68px
            height: 36px
            background-color: #d3d3d3
            border: 0
            color: black
